@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&family=Permanent+Marker&display=swap');

/* global css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

title span {
    color: red;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 50px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    /* line-height: 64px; */
    color: #222;
}

h6 {
    font-weight: 700;
    color: #222;
}

p {
    font-size: 16px;
    color: #222;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
}

/* header css */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    /* background: rgb(222,215,215); */
    background: linear-gradient(115deg, rgba(222, 215, 215, 1) 0%, rgba(226, 145, 152, 1) 91%);
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 23px;
    font-weight: 600;
    color: rgba(125, 20, 20, 0.894);
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: rgb(242, 11, 11);
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 2px;
    bottom: -5px;
    left: 20px;
    background: rgb(242, 11, 11);
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

/* Home page */
#Hero {
    background-image: url(img/hero3.jpg);
    height: 140vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 25% right 0;
    padding: 0 80px;
    padding-top: 150px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#Hero h4 {
    padding-bottom: 15px;

}

#Hero h1 {
    color: #088178;
}

#Hero button {
    background-image: url(img/button.png);
    background-color: transparent;
    color: #088178;
    border: 0;
    font-size: 25px;
    padding: 14px 80px 14px 65px;
}

/* #feature img{
    height: 120px;
} */



#feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#feature .fe-box {
    width: 150px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px #d38a90;
    border: 1px solid #e29198;
    border-radius: 10px;
    margin: 15px 0;
    background-color: #8b9ef2;
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h5 {
    font-weight: 700;
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #e29198;
    background-color: rgb(5, 33, 56);
}

#feature .fe-box:hover {

    box-shadow: 20px 20px 34px #eb626d;
    transition: 0.5s ease-in-out;
    /* padding: 25px 15px;
    width: 190px; */
    transform: scale(1.2);
}

#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #8b9ef2;
    border-radius: 25px;
    cursor: pointer;
    border-radius: 20px 20px 30px #e29198;
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
    box-shadow: 4px 4px 3px #eca7ad;
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro:hover {
    box-shadow: 12px 12px 20px #e29198;
    transform: scale(1.05);
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;

}

#product1 .pro .des span {
    color: #606063;
    font-size: 18px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 18px;
}

#product1 .pro .des i {
    padding-top: 7px;
    font-size: 12px;
}

#product1 .pro .des h4 {
    font-size: 25px;
    padding-top: 7px;
    color: #e29198;
    font-weight: 700;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-size: 500;
    color: #e29198;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(img/banner/b2.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: white;
    font-size: 16px;
}

#banner h2 {
    color: white;
    font-size: 30px;
    padding: 10px 0;
}

#banner span {
    color: red;
}

#banner button:hover {
    background-color: #e29198;
    color: white;
}

#sm-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: url(img/banner/b17.jpg);
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    box-shadow: 12px 12px 20px #e29198;
}

#sm-banner .banner-box2 {
    background-image: url(img/banner/b10.jpg);
}

#sm-banner h4 {
    color: white;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2 {
    color: white;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span {
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
    background: #e29198;
    border: 1px solid #e29198;
    transform: scale(1.05);

}

#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: url(img/banner/b7.jpg);
    min-width: 32%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 12px 12px 20px #e29198;
}

#banner3 .banner-box2 {
    background-image: url(img/banner/b4.jpg);
}

#banner3 .banner-box3 {
    background-image: url(img/banner/b18.jpg);
}

#banner3 h2 {
    color: white;
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3 {
    color: red;
    font-weight: 800;
    font-size: 15px;
}

#banner3 .banner-box:hover {
    box-shadow: 15px 15px 25px #e29198;
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}

#Newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(img/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#Newsletter .form {
    display: flex;
    width: 40%;
}

#Newsletter h4 {
    font-weight: 700;
    font-size: 22px;
    color: white;
}

#Newsletter p {
    font-weight: 600;
    font-size: 14px;
    color: #818ea0;
}

#Newsletter p span {
    color: red;
}

#Newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#Newsletter button {
    background-color: #e29198;
    color: white;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

footer .logo {
    margin-bottom: 20px;
}

footer h4 {
    font-size: 14px;
    padding: 10px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 10px;
}

footer .follow i {
    color: #465b52;
    padding-right: 2px;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid #e29198;
    border-radius: 6px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
    color: #e29198;
}

/* shope page */
#page-header {
    background-image: url(img/banner/b1.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2,
#page-header p {
    color: white;
}

#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background-color: #e29198;
    padding: 15px 20px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}

/* single products */
#prodetails {
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-image {
    width: 40%;
    margin-right: 50px;

}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h3 {
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2 {
    font-size: 26px;
}

#prodetails .single-pro-details h5 {
    margin-bottom: 20px;
}

#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-details button {
    background-color: #e29198;
    color: #fff;
}

#prodetails .single-pro-details input:focus {
    outline: none;
}

#prodetails .single-pro-details span {
    line-height: 25px;
}

/* blog page */
#page-header.blog-header {
    background-image: url(img/banner/b19.jpg);
}

#blog {
    padding: 150px 150px 0 150px;
}

#blog .blog-box {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}

#blog .blog-img {
    width: 50%;
    margin-right: 40px;
}

#blog .blog-img:hover {
    box-shadow: 12px 12px 20px #e29198;
}

#blog .blog-img img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: ease-in-out;
}

#blog .blog-details {
    width: 50%;

}

#blog .blog-details a {
    text-decoration: none;
    font-size: 16px;
    color: #000;
    font-weight: 700;
    transition: 0.03s;
}

#blog .blog-details a:hover {
    color: #e29198;
}

#blog .blog-box h1 {
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #e29198;
    z-index: -9;
}

/* About page  */
#page-header.about-header {
    background-image: url(img/about/banner.png);
}

#about-head {
    display: flex;
    align-items: center;
}

#about-head img {
    width: 50%;
    height: auto;
}

#about-head div {
    padding-left: 40px;
}

#about-app {
    text-align: center;
}

#about-app .video {
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}

#about-app .video video {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* contact page  */
#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details {
    width: 40%;
}

#contact-details .details span,
#form-details form span {
    font-size: 12px;
}

#contact-details .details h2,
#form-details form h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;

}

#contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li {
    display: flex;
    list-style: none;
    padding: 10px 0;

}

#contact-details .details li i {
    font-size: 14px;
    padding-right: 22px;

}

#contact-details .details li p {
    margin: 0;
    font-size: 14px;

}

#contact-details .map {
    width: 55%;
    height: 400px;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
}

#form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e29198;
}

#form-details form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e29198;

}

#form-details form button {
    background-color: #e29198;
    color: #fff;
}

#form-details .people div {
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people div p {
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div p span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

/* cart page  */
 #cart{
  overflow-x: auto;
}
#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    /* white-space: nowrap; */
}

#cart table img {
    width: 70px;
}

#cart table td:nth-child(1) {

    width: 100%;
    text-align: center;
}

#cart table td:nth-child(2) {

    width: 150%;
    text-align: center;
}

#cart table td:nth-child(3) {

    width: 250%;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {

    width: 150%;
    text-align: center;
}

#cart table td:nth-child(5) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead {
    border: 1px solid #e29198;
    border-left: none;
    border-right: none;

}

#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td {
    padding-top: 15px;
}

#cart table tbody td {
    font-size: 14px;
}

#cart-add {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#coupon {
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3 {
    padding-bottom: 15px;
}

/* #coupon div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
} */
#coupon input {
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e29198;
}

#coupon button,
#Subtotal button {
    background-color: #e29198;
    color: #fff;
    padding: 12px 20px;
}

#Subtotal {
    width: 50%;
    margin-bottom: 30px;
    padding: 30px;
    border: 1px solid #e29198;
}

#Subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#Subtotal table td {
    width: 50%;
    border: 1px solid #e29198;
    padding: 10px;
    font-size: 14px;
}

#Subtotal h3 {
    margin-bottom: 15px;
}


/* sing up  */
#singup-page .form-page {
    padding: 15px;
    text-align: center;
    border: 1px solid #e29198;
    width: 300px;
    height: 400px
}

#singup-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-left:500px;  */
    padding: 50px 50px 50px 50px;
    overflow: hidden;
    /* box-shadow:12px 12px 20px  #e29198 ; */
}

.form-page span {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.btn-page {
    display: inline-block;

}

#vivek {
    margin-left: 50px;
}

.form-page {
    margin-left: -1200px;
    overflow: hidden;
    margin-right: 200px;
    box-shadow: 12px 12px 20px #e29198;
}

.form-page form {
    max-width: 300px;
    padding: 0 20px;
    position: relative;
    top: 50px;
    transition: transform 1s;

}

#RegisterForm {
    top: -125px;
}

form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #d38a90;
}

form .normal {
    background-color: #e29198;
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    border-radius: 30px;
}

#LoginForm {
    left: -300px;
}

#RegisterForm {
    left: 0;
}

form a {
    font-size: 12px;

}

#in {
    width: 50%;
    border: none;
    height: 3px;
    background: #ff523b;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}

/* start media query  */

     /* ipad  */
@media(max-width:799px) {

    /* Home  */
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgb(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;

    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: black;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: black;
        font-size: 34px;
    }

    #le-bag {
        display: none;
    }

    #Hero {
        height: 70vh;
        padding: 110px 80px;
        background-position: top 30% right 30%;
    }

    #feature .fe-box {
        width: 180px;
    }

    #banner {
        height: 20vh;
    }

    #sm-banner .banner-box {

        min-width: 100%;
        height: 30vh;
        margin-bottom: 30px;

    }

    #banner3 {
        flex-direction: column;
    }

    #banner3 .banner-box {
        width: 100%;
        margin-bottom: 30px;
    }

    #Newsletter .form {
        width: 70%;
    }
       /* Blog  */
    #page-header {
    height: 30vh;
}
   /* contact  */
   .section-p1 {
    padding: 40px 40px;
   } 
   #form-details {
    padding: 40px;
}
#form-details form {
    width: 50%;
}

#cart{
    overflow-x: auto;
}
#singup-page {
   /* flex-direction: column;  */
}
#vivek img{
    display: none;
 }
}


    /*  Phone  */
    
@media(max-width:477px) {
    /* Home  */
      
    #header {
        padding: 10px 30px;
    }
    #navbar{
        width: 200px;
        right: -200px;
    }

    #Hero {
        padding: 0 20px;
        background-position: 55%;
        padding-top: 70px;
    }

    h2 {
        font-size: 32px;
    }

    h1 {
        font-size: 38px;
    }

    .section-p1 {
        padding: 20px;
    }

    #product1 .pro {
        width: 100%;

    }

    #banner3 {
        padding: 0 20px;
    }

    #banner3 .banner-box {
        width: 100%;
    }

    #Newsletter .form {
        width: 100%;
    }
       /* Blog  */
    #blog .blog-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #blog{
        padding: 100px 20px 0 20px;
    }
    #blog .blog-img{
       margin-right: 0px;
       width: 100%;
       margin-bottom: 30px;
    }
    #blog .blog-details {
        width: 100%;
    }
    /* About  */
    #about-head {
        flex-direction: column;
    }
    #about-head img {
        width: 100%;
        margin-bottom: 20px;
    }
    #about-head div {
        padding-left: 0px;
    }
    #about-app .video {
        width: 100%;
    }
    /* contact  */
    #contact-details {
       flex-direction: column; 
    }
    #contact-details .details {
        width: 100%;
        margin-bottom: 20px;
    }
    #contact-details .map {
        width: 100%;
    }
    #form-details {
        margin: 10px;
        padding:30px 10px ;
        flex-wrap: wrap;
    }
    #form-details form {
        width: 100%;
        margin-bottom: 20px;
    }
    #form-details .people div {
        padding-left: 30px;
    }
    p {
      width: 100%; 
    }
    #feature {
        margin-left: 60px;
    }
      /* cart page  */

    #cart-add {
      flex-direction: column;
    }
    #coupon {
        width: 100%;
    }
    #Subtotal {
        width: 100%;
     }
       /* singup page  */
     #vivek img{
        display: none;
     }
     .form-page {
     margin-right:0;
    }
    #singup-page .form-page {
       width: 250px;
    }
    #cart table td:nth-child(5) input {
        width: 50px;
    }
    

}    